.Alert {
	width: 500px;
	border: 1px solid lightgray;
	margin-bottom: 20px;
}

.Alert div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fff159;
	border: 1px solid lightgray;
}

.Alert p {
	text-align: center;
}

@media screen and (max-width: 500px) {
	.Alert {
		width: 600px;
	}
}
